.GroomingNav{
	        text-align:left;
			margin-left:10px;
	        font-weight:bolder;
	        font-family:ALGERIAN;
			font-size:36px;
			color:#FF3352;
			padding:0;
           }		   
.textOverImage{
	    color:#FF3352;
        font-family:ALGERIAN;
		font-size:40px;
		width: 20%; 
		height:250px;
	    position:relative;
		float:left;
		margin:10px;
		margin-left:60px;
		background-size:100%;
		background-position:center;
		transition:0.5s;
		padding-left:10%;
		}
.textOverImage:hover{
	    background-size:120%;
		transition:0.5s;
	   }
	   
.textOverImage:after{
	    position:absolute;
		top:80%;
		bottom:0;
		left:0;
		right:0;
		background-color:rgba(0,0,0,0.8);
		color:#FEFEFF;
		padding:8px 8px;
		opacity:0;
	    content:attr(data-text);
		transition:0.6s;
		font-weight:bold;
	   }
	   
.textOverImage:hover:after{
	    opacity:0.5;
		top:0;
		padding:8px;
	   }
	   
 #h2Header{
	        font-weight:bolder;
	        font-family:Algerian;
			color:#FF3352;
			text-align:center;
			font-size:45px;
			padding:0px;
			margin:0 auto;
}

#h4Header{
	        font-weight:bolder;
	        font-family:Algerian;
			color:#FF3352;
			padding:0px;
			text-align:left;
			font-size:30px;
			margin-left:8px;
			margin-bottom:0px;
         }

.img-responsive{
    float:right;
	padding-top:0;
	
}
/*Circle border for Bath Packages*/
.circle-border {
    border-radius: 100%;
    border: 7px solid #E6E6E6;
}
.col-4 {
    width: 29.33333%;
}

.row [class*="col-"] { 
	float: left;
    margin: 0.5rem 2%;
    min-height: 0.125rem;
    box-sizing: border-box;
}
.padding-sm { padding: 10px; }

p {
    color: #666666;
    font-size: 0.9375em;
    line-height: 1.6em;
}
strong {
    font-weight: bold;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.text{
	padding-right:100px;
}

